.vscode/**
.vscode-test/**
src/**
node_modules/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# 包含 dist 目录
!dist/
!dist/**

# 包含 js-beautify
!node_modules/js-beautify/
!node_modules/js-beautify/**/*


# 包含 sql-formatter
!node_modules/sql-formatter/
!node_modules/sql-formatter/**/*